table {
    border: solid 1px black;
}
tr {
    border: solid 1px black;
}
td {
    border: solid 1px black;
}

#fila1 {
    color: teal;
}
#fila2 {
    color: red;
}
#fila3 {
    color: blue;
}
#fila4 {
    color: orange;
}
#fila5 {
    color: purple;
}
#fila6 {
    color: olive;
}
#fila7 {
    color: fuchsia;
}
#fila8 {
    color: green;
}
.columna1 {
    background-color: red;
}
.columna2 {
    background-color: green;
}
.columna3 {
    background-color: blue;
}