body {
    background-color: #DFA;
    text-align: center;
    
}
div {
    display: grid;
    grid-template-areas: 'horas lunes martes miercoles jueves viernes'
                         'primera si1 llmm1 edd1 fol1 fol2'
                         'segunda si1 llmm1 edd1 si2 fol2'
                         'tercera pr1 si3 llmm2 si2 bbdd4'
                         'recreohora recreo recreo recreo recreo recreo'
                         'cuarta pr2 si4 llmm3 edd3 bbdd5'
                         'quinta bbdd1 pr3 bbdd3 pr4 pr4'
                         'sexta bbdd1 pr3 bbdd3 pr4 pr4';
    padding: 1rem;
    background-color: aquamarine;
}
.horario {
    border: 2px solid black;
    text-align: center;
    background-color: #A34;

}
.horas {
    grid-area: horas;
    background-color: red;
    border: 2px solid black;
}
.primera {
    grid-area: primera;
    background-color: azure;
    border: 2px solid black;
}
.segunda {
    grid-area: segunda;
    background-color: azure;
    border: 2px solid black;
}
.tercera {
    grid-area: tercera;
    background-color: azure;
    border: 2px solid black;
}
.recreohora {
    grid-area: recreohora;
    background-color: azure;
    border: 2px solid black;
}
.cuarta {
    grid-area: cuarta;
    background-color: azure;
    border: 2px solid black;
}
.quinta {
    grid-area: quinta;
    background-color: azure;
    border: 2px solid black;
}
.sexta {
    grid-area: sexta;
    background-color: azure;
    border: 2px solid black;
}
.lunes {
    grid-area: lunes;
    background-color: blue;
    border: 2px solid black;
}
.martes {
    grid-area: martes;
    background-color: brown;
    border: 2px solid black;
}
.miercoles {
    grid-area: miercoles;
    background-color: yellow;
    border: 2px solid black;
}
.jueves {
    grid-area: jueves;
    background-color: pink;
    border: 2px solid black;
}
.viernes {
    grid-area: viernes;
    background-color: greenyellow;
    border: 2px solid black;
}
.si1 {
    grid-area: si1;
    background-color: lightskyblue;
    border: 2px solid black;
}
.si2 {
    grid-area: si2;
    background-color: lightskyblue;
    border: 2px solid black;
}
.si3 {
    grid-area: si3;
    background-color: lightskyblue;
    border: 2px solid black;
}
.si4 {
    grid-area: si4;
    background-color: lightskyblue;
    border: 2px solid black;
}
.pr1 {
    grid-area: pr1;
    background-color: lightslategray;
    border: 2px solid black;
}
.pr2 {
    grid-area: pr2;
    background-color: lightslategray;
    border: 2px solid black;
}
.pr3 {
    grid-area: pr3;
    background-color: lightslategray;
    border: 2px solid black;
}
.pr4 {
    grid-area: pr4;
    background-color: lightslategray;
    border: 2px solid black;
}
.bbdd1 {
    grid-area: bbdd1;
    background-color: lightsalmon;
    border: 2px solid black;
}
.bbdd2 {
    grid-area: bbdd2;
    background-color: lightsalmon;
    border: 2px solid black;
}
.bbdd3 {
    grid-area: bbdd3;
    background-color: lightsalmon;
    border: 2px solid black;
}
.bbdd4 {
    grid-area: bbdd4;
    background-color: lightsalmon;
    border: 2px solid black;
}
.bbdd5 {
    grid-area: bbdd5;
    background-color: lightsalmon;
    border: 2px solid black;
}
.llmm1 {
    grid-area: llmm1;
    background-color: lightgreen;
    border: 2px solid black;
}
.llmm2 {
    grid-area: llmm2;
    background-color: lightgreen;
    border: 2px solid black;
}
.llmm3 {
    grid-area: llmm3;
    background-color: lightgreen;
    border: 2px solid black;
}
.edd1 {
    grid-area: edd1;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
}
.edd2 {
    grid-area: edd2;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
}
.edd3 {
    grid-area: edd3;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;
    padding-top: 35%;
}
.fol1 {
    grid-area: fol1;
    background-color: lightpink;
    border: 2px solid black;
}
.fol2 {
    grid-area: fol2;
    background-color: lightpink;
    border: 2px solid black;
}
.recreo {
    grid-area: recreo;
    background-color: lightsalmon;
    border: 2px solid black;
}